/*color pallet: https://coolors.co/000000-e6c36b-d3a942-e6e7e8-cc9406*/

html, body {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 18px;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #E6E7E8;
}

body {
    overflow-x: hidden;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3 {
    color: #CC9406;
    font-family: 'Lato', sans-serif;
}

.head-block {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    width: 1279px;
    margin: 0 auto;
}

.header {
    position: fixed;
    background-color: #000000;
    border-bottom: 1px solid #E6C36B;
    height: 120px;
    width: 100%;
    z-index: 100;
    top: 0;
}

.header .container {
    width: 1279px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
}

.header .container .logo img {
    width: 200px;
    padding: 10px 0;
}

.header .container .content{
    display: flex;
    align-items: center;
    height: 100%;
}

.header .container .content a {
    padding: 0 10px;
    color: #E6C36B;
}

.header .container .content a img{
    width: 50px;
}

.header .container .content a:hover {
    font-weight: bold;
}

.head-block .image-block {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.head-block .image-block .photo img {
    border-radius: 10px;
}

.head-block .image-block .text {
    position: absolute;
    width: 300px;
    text-align: left;
    left: 150px;
    top: 95px;
}

.head-block .image-block .text h1 {
    font-size: 33px;
}

body {
    margin-top: 120px;
}

.resume {
    padding: 20px 0;
    border-bottom: 1px solid #E6C36B;
    border-top: 1px solid #E6C36B;
    background-color: #D3A942;
}

.resume .container {
    width: 1279px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}

.resume .container .item {
    display: flex;
    align-items: center;
    width: 320px;
}

.resume .container .item img {
    width: 50px;
}

.resume .container .item span {
    padding-left: 30px;
}

.body-block {
    width: 1279px;
    margin: 0 auto;
}

.body-block .our-services {
    margin-top: 40px;
}

.body-block .our-services .line {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
}

.body-block .our-services .line h2 {
    margin: 0 auto;

}

.body-block .our-services .line .column {
    width: 350px;
    height: 300px;
    border: 1px solid #E6C36B;
    border-radius: 10px;
    padding: 30px;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
}

.body-block .our-services .line .column:hover {
    background: linear-gradient(to bottom, #E6C36B 0%, #E6E7E8 100%);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
}

.body-block .our-services .line .column .icon img {
    width: 150px;
}

.body-block .our-services .line .column .description {

}

.body-block .team {
    text-align: center;
    margin: 65px 0 65px;
}

.body-block .team h2 {
    margin: 0 auto 50px;
}

.body-block .team .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.body-block .team .container .photo img {
    width: 350px;
    height: 350px;
    border-radius: 750px;
}

.body-block .team .content {
    padding-left: 50px;
    text-align: left;
    width: 400px;
}

.body-block .team .content a {
    color: #333333;
}

.body-block .team .content .name {
    font-weight: bold;
    color: #CC9406;
    padding-bottom: 20px;
    font-size: 22px;
}

.body-block .team .container.inverted {
    display: flex;
}

.body-block .team .container.regular {
    display: none;
}

.body-block .social-medias {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
}

.body-block .social-medias div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.body-block .social-medias div a img {
    padding-right: 7px;
    width: 80px;
}

.body-block .social-medias div a {
    color: #D3A942;
    display: flex;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}


.body-block .social-medias div a.wpp {
    color: #25D366;
    font-weight: bold;
    font-size: 23px;
}

.body-block .social-medias div a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.footer-block {
    background-color: #000000;
    padding: 30px 0;
    color: #E6C36B;
    font-size: 15px;
}

.footer-block .logo {
    margin: 0 auto;
    text-align: center;
}

.footer-block .logo img {
    width: 400px;
}

@media (max-width: 1279px) {
    .header .container {
        width: 100%;
        display: inline-block;
    }

    .header .container .logo {
        width: 100%;
        text-align: center;
    }

    .header .container .logo img {
        width: 180px;
    }

    .header .container .content {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #000000;
    }

    body {
        margin-top: 170px;
    }

    .resume .container {
        width: 620px;
        font-size: 16px;
    }

    .resume .container .item {
        width: 200px;
    }

    .resume .container .item span {
        padding-left: 10px;
    }

    .head-block {
        width: 620px;
    }

    .head-block .image-block .text {
        width: 200px;
        left: 30px;
        top: 15px;
    }

    .head-block .image-block .text h1 {
        font-size: 25px;
    }

    .head-block .image-block .photo img {
        width: 100%;
    }

    .body-block {
        width: 620px;
    }

    .body-block .our-services .line {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    h2 {
        font-size: 25px;
    }

    .body-block .our-services .line h2 {
        padding: 40px 0;
    }

    .body-block .our-services .line .column {
        margin: 0 auto 20px;
    }

    .body-block .team .container .photo img {
        width: 250px;
        height: 250px;
    }
}


@media (max-width: 620px) {
    .header .container {
        width: 100%;
        display: inline-block;
    }

    .header .container .logo {
        width: 100%;
        text-align: center;
    }

    .header .container .logo img {
        width: 180px;
    }

    .header .container .content {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #000000;
        font-size: 16px;
    }

    .header .container .content a {
        padding: 0 5px;
    }

    body{
        width: 100%;
    }

    .resume .container {
        width: 250px;
        display: block;
    }

    .resume .container .item {
        margin-bottom: 20px;
    }

    .resume .container .item:last-child {
        margin-bottom: 0px;
    }

    .head-block {
        width: 290px;
    }

    .head-block .image-block .text {
        position: relative;
        text-align: center;
        width: 290px;
        top: 0;
        left: 0;
    }

    .body-block {
        width: 290px;
    }

    .body-block .our-services .line .column {
        width: 220px;
        height: 350px;
    }

    .body-block .team .container {
        display: block;
        padding-bottom: 50px;
    }

    .body-block .team .container.inverted {
        display: none;
    }

    .body-block .team .container.regular {
        display: block;
    }

    .body-block .team .container .photo {
        margin-bottom: 20px;
    }

    .body-block .team .container .photo img {
        width: 250px;
        height: 250px;
    }

    .body-block .team .container .content {
        width: 100%;
        padding-left: 0;
    }

    .body-block .social-medias div {
        display: block;
    }

    .body-block .social-medias div a img {
        width: 60px;
    }

    .footer-block .logo img {
        width: 250px;
    }
}